@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0b0c10;
  --foreground: #eaf0ff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

